.logo-subtext
{
	color:#4285f4;
	font:16px/16px roboto-regular,arial,sans-serif;
	left:215px;
	position:relative;
	top:-16px;
	white-space:nowrap
}
.pages-div
{
	float: right;
	margin: 10px;
}
#pg1
{
	font-family: Arial,sans-serif;
	color: #3c4043;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 15px;
}
.main-logo-div
{
	width: 272px;
	margin: 0px auto 0px;
	/*border: 1px solid blue;*/
	padding-top: 155px;
}
.container
{
	/*border: 1px solid blue;*/
	margin: 5px auto 0px;
}
.searchbar-button-div
{
	width: 535.6px;
	/*border: 1px solid red;*/
	margin: 0px auto 0px;
}
#input_img
{
	position: relative;
	top: -39px;
	left: -243px;
}
.search-btn-div
{
	position: relative;
	top: -61px;
	left: 238px;
}
#srch
{
	background: white;
	outline: none;
	border: none;
}
svg
{
	fill: #4285F4;
	width: 24px;
	height: 24px;
}
input[type="text"]
{
	margin-top: 2px;
	height: 45.6px;
	border-radius: 23px;
	padding-left: 40px;
}
input[type="text"]:focus
{
	box-shadow: 0 0 3px 2px lightgray; 
	border-color: silver;
}
input[type="text"]:hover
{
	box-shadow: 0 0 3px 2px lightgray; 
	border-color: silver;
}